<div class="container">
  <div class="form-box">
    <h2>Merhaba,</h2>
    <p>Hemen üye ol, FinansApp'i kullanmaya başla!</p>

    <div class="tab-buttons">
      <button [class.active]="false" (click)="goToLogin()">
        Giriş Yap
      </button>
      <button class="active">
        Üye Ol
      </button>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input formControlName="username" type="text" placeholder="Kullanıcı Adı" />
      <div class="error" *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
        Kullanıcı adı zorunludur
      </div>

      <input formControlName="email" type="email" placeholder="E-Posta Adresi" />
      <div class="error" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        Geçerli bir e-posta girin
      </div>

      <input formControlName="password" type="password" placeholder="Şifre" />
      <div class="error" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        Şifre zorunludur
      </div>

      <div class="error" *ngIf="errorMsg">{{ errorMsg }}</div>

      <button type="submit" class="submit-btn" [disabled]="registerForm.invalid">Kayıt Ol</button>
    </form>

    <p class="toggle-text">
      Zaten hesabın var mı?
      <a (click)="goToLogin()">Giriş yap</a>
    </p>
  </div>
</div>
